.discript_div img {
    width: 10rem;
    height: 10rem;
}

.discript_div p {
    width: 70%;
    font-weight: 500;
}

.discript_div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.price_div {
    width: 100%;
    margin-left: 10rem;
}